body {
    background-color:rgb(156, 248, 248);
    

}
.title {
    font-size: 59pt;
    color:rgb(98, 134, 163)
}
 nav {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    margin: 5px;
    border: solid;

 }

 p {
    margin: 1rem;
    padding-top: 1rem;
    font-size: 20pt;
    font-family: cursive;
 }
 


 table {
   font-family: sans-serif;
   color: blue;
   background-color: white;
   text-align: center;
    
 }
 
 img {
    width: 40%;
    height:20vw;
    padding: 10px;
    margin-left: 30px;
    
    
   
 }
  h2{
    text-align: center;
    color: lightpink;
    font-size: 30pt;
  }

  a{
    background-color: coral;
    padding: 1REM;
    margin: 1rem;
    border-radius: 1rem;
  }